body {
  font-family: var(--default-font);
    background: 0 0;
    overflow-x: hidden;
    font-family: AvenirNextCyr, Arial, sans-serif;
    color: #3f4145;
    font-size: 14px;
    line-height: 24px;
    font-weight:400;
  background-color: var(--block-bg-color);
  color: var(--text-color);
  color-scheme: var(--tg-color-scheme);
  margin: 0;
  padding: 0;
  width: 1px;
  min-width: 100%;
  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --block-bg-color: var(--tg-theme-bg-color);
  --bg-color: var(--tg-theme-secondary-bg-color, #ebedf0);
  --animation: .15s ease;
  --page-animation-duration: .3s;
  --page-animation: var(--page-animation-duration) ease;
  --status-height: 48px;
  --accent-color: #31b545;
  --main-color: #f8a917;
  --text-color: #222;
  --page-hint-color: #83878a;
  --hint-color: #74787a;
  --placeholder-color: #999da1;
  --ripple-duration: .45s;
  --ripple-end-duration: .3s;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
html.dark body {
  --block-bg-color: var(--tg-theme-bg-color);
  --bg-color: var(--tg-theme-secondary-bg-color, #0f0f0f);
  --text-color: #fff;
  --page-hint-color: #9b9ba1;
  --hint-color: #64666d;
  --placeholder-color: #5d6163;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 480px;
    justify-content: space-around;
    align-content: flex-end;
    transition: max-height var(--page-animation), opacity var(--page-animation);
    background-color: var(--block-bg-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.indentation {
    max-width: 684px;
    display: grid;
    grid-gap: 6px;
    margin: 6px 30px;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
}

.indentation_one {
    max-width: 684px;
    display: grid;
    grid-gap: 6px;
    margin: 6px 30px;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.input_list {
    padding: 8px 20px;
    border: 2px solid black;
	border-radius: 10px;
	text-transform: uppercase;
	/*font-weight: 700;*/
	transition: background .2s linear;
    width: auto;
}


.input_list:hover {
	background: lightgreen;
}


.btn {
	/*display: inline-block;*/
	padding: 10px 20px;
	border: none;
	background: #00b4ef;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}

.btn:hover {
	background: #0d6efd;
}

.btn2 {
	padding: 10px 20px;
	border: none;
	background: rgba(101, 206, 31, 0.69);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}
.btn2:hover {
	background: rgb(101, 206, 31);
}

.usercard {
	text-align: center;
}















